


.top-banner {
    background-color: #2D3142;
    width:100%;
    height:10%;
    text-align:center;
    font-size: 2.5vw;
}

@media screen and (min-width: 1008px) {
    .top-banner {
        font-size: 2vw;
    }
  }

@media screen and (max-width: 1007px) {
    .top-banner {
        font-size: 4vw;
    }
  }

@media screen and (max-width: 640px) {
    .top-banner {
        font-size: 6vw;
    }
  }

.bottom-banner {
    background-color: #2D3142;
    width:100%;
    height:1vw;
    text-align:center;

}